In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("../3_regClassif/senti_clientwise_try1.csv")

In [4]:
print(df.shape)
df.head()

(59094, 6)

,Unnamed: 0,OrderId,CliChats,SpChats,CliAvgSenti,Sp_avg_senti
0,0,17393,I only rented this because i loved the first m...,This film plunges headlong into the realm of t...,0.4,0.4
1,1,17393,'I don't understand. None of this makes any se...,Taylor Hackford wanted to make this movie for ...,0.4,0.6
2,2,17393,"I know that to include everything in the book,...",I don't know about the real Cobb but I got the...,0.8,0.0
3,3,17393,"This is easily the worst, most offensive piece...",The film starts in the Long Island Kennel Club...,0.4,0.6
4,4,17394,When you see Barry Corbin in the cast of a mov...,Richard Attenborough who already given us magn...,0.4,0.6

# Text Preprocessing