# Importing data from csv files

In [1]:
import pandas as pd 
import os

In [2]:
files = [file for file in os.listdir('../1_mockData')]

all_months_data = pd.DataFrame()

for file in files:
    if(".csv" in file):
        print(file)
        df = pd.read_csv("../1_mockData/"+file)
        all_months_data = pd.concat([all_months_data,df])

1_orderwise_sales_December.csv
1_orderwise_sales_October.csv
1_orderwise_sales_July.csv
1_orderwise_sales_September.csv
1_orderwise_sales_June.csv
1_orderwise_sales_May.csv
1_orderwise_sales_January.csv
1_orderwise_sales_March.csv
1_orderwise_sales_February.csv
1_orderwise_sales_November.csv
1_orderwise_sales_April.csv
1_orderwise_sales_August.csv

In [3]:
all_months_data.shape

(59094, 9)

In [4]:
all_months_data.head(2)

,Unnamed: 0,OrderID,Product,QtyOrdered,UnitPrice,OrderDate,OrderLocation,Month,ClientName
0,0,17393,prod4,1,800,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
1,1,17393,prod12,4,400,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2

In [5]:
all_months_data.to_csv("all_data_sales_try1.csv",index=False)