In [1]:
import pandas as pd 
import os

In [9]:
files = [file for file in os.listdir('../1_mockData')]

all_months_data = pd.DataFrame()

for file in files:
    if(".csv" in file):
        print(file)
        df = pd.read_csv("../1_mockData/"+file)
        all_months_data = pd.concat([all_months_data,df])
        
all_months_data.to_csv("all_data_sales.csv",index=False)

1_orderwise_sales_December.csv
1_orderwise_sales_October.csv
1_orderwise_sales_July.csv
1_orderwise_sales_September.csv
1_orderwise_sales_June.csv
1_orderwise_sales_May.csv
1_orderwise_sales_January.csv
1_orderwise_sales_March.csv
1_orderwise_sales_February.csv
1_orderwise_sales_November.csv
1_orderwise_sales_April.csv
1_orderwise_sales_August.csv

In [10]:
df = pd.read_csv("all_data_sales.csv")
df

,Unnamed: 0,OrderID,Product,QtyOrdered,UnitPrice,OrderDate,OrderLocation,Month,ClientName
0,0,17393,prod4,1,800,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
1,1,17393,prod12,4,400,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
2,2,17393,prod2,7,500,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
3,3,17393,prod5,10,900,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
4,4,17394,prod14,1,100,12/26/19 17:28,"362 Adams St, Dallas ,TX",December,Client4
...,...,...,...,...,...,...,...,...,...
59089,4542,12558,prod9,4,100,08/21/19 14:06,"294 Hickory St, New York City ,NY",August,Client2
59090,4543,12559,prod15,1,1000,08/27/19 20:53,"665 Hill St, San Francisco ,CA",August,Client0
59091,4544,12559,prod2,9,500,08/27/19 20:53,"665 Hill St, San Francisco ,CA",August,Client0
59092,4545,12559,prod7,8,400,08/27/19 20:53,"665 Hill St, San Francisco ,CA",August,Client0
59093,4546,12559,prod1,4,700,08/27/19 20:53,"665 Hill St, San Francisco ,CA",August,Client0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59094 entries, 0 to 59093
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     59094 non-null  int64
 1   OrderID        59094 non-null  int64
 2   Product        59094 non-null  object
 3   QtyOrdered     59094 non-null  int64
 4   UnitPrice      59094 non-null  int64
 5   OrderDate      59094 non-null  object
 6   OrderLocation  59094 non-null  object
 7   Month          59094 non-null  object
 8   ClientName     59094 non-null  object
dtypes: int64(4), object(5)
memory usage: 4.1+ MB

In [16]:
df.describe()

         Unnamed: 0       OrderID    QtyOrdered     UnitPrice
count  59094.000000  59094.000000  59094.000000  59094.000000
mean    2574.685704  10307.503486      4.428588    559.801333
std     1609.386840   5384.004816      3.497477    302.814769
min        0.000000   1001.000000      1.000000    100.000000
25%     1231.000000   5642.000000      1.000000    300.000000
50%     2462.000000  10313.000000      3.000000    500.000000
75%     3745.000000  14978.000000      8.000000    800.000000
max     7091.000000  19622.000000     11.000000   1000.000000

# Desired datasets : 
## Orderwise prediction of sales 
OrderID | ProdName | Prod Qty | Unit Price | Month | Order Location | Client Sentiment (before order) | Salesperson Sentiment (before order) | Total sales

## Productwise prediction of sales 
ProdName | Month | Order Value | Order Qty | # sold

## Clientwise prediction of sales 
CustID | CustName | Month | Location | Client Sentiments | Salesperson Sentiments | Total Sales

In [15]:
# Build from df + df_senti + clientwise
#orderwise : orderid | prodarr              |totQty | month | location| ClientName |totPrice| cli avg sentiScore| sp avg sentiScore            
#           ord_id_1 | [prod1,prod2,prod3,..]| 4    |January| addr    |   client1  |  4555  |     60            |         30
# predict totPrice(reg)

#prodwise : prodName | month | orderQty | orderTotal |clientName| prodPrice(unit*qty)
#             prod1  |January|  5       |    4555    |client1   |     2555
# predict prodPrice(reg) , prodName(classif), clientName(classif)

#clientwise: clientName | month | orderQty | prodarr        | orderTotal  | cli_avg_senti | sp_avg_senti
#             client1   |January|   40      |[p1,p2,p3,p4]  |    30000    |      60       |       50 
# predict orderTotal(reg) 

#df_senti 
#for orderwise order_id  | cli_chats(bef that order) | sp_chats(bef that order) | cli_avg_senti | sp_avg_senti

#Build from df_senti

#for clientwise   clientName | month | cli_chats(that month) | sp_chats(that month) | cli_avg_senti | sp_avg_senti