In [3]:
import pandas as pd 
import os

In [9]:
files = [file for file in os.listdir('../1_mockData')]

all_months_data = pd.DataFrame()

for file in files:
    if(".csv" in file):
        print(file)
        df = pd.read_csv("../1_mockData/"+file)
        all_months_data = pd.concat([all_months_data,df])
        
all_months_data.to_csv("all_data_sales.csv",index=False)

1_orderwise_sales_December.csv
1_orderwise_sales_October.csv
1_orderwise_sales_July.csv
1_orderwise_sales_September.csv
1_orderwise_sales_June.csv
1_orderwise_sales_May.csv
1_orderwise_sales_January.csv
1_orderwise_sales_March.csv
1_orderwise_sales_February.csv
1_orderwise_sales_November.csv
1_orderwise_sales_April.csv
1_orderwise_sales_August.csv

In [5]:
df = pd.read_csv("all_data_sales.csv")
df.head()

,Unnamed: 0,OrderID,Product,QtyOrdered,UnitPrice,OrderDate,OrderLocation,Month,ClientName
0,0,17393,prod4,1,800,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
1,1,17393,prod12,4,400,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
2,2,17393,prod2,7,500,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
3,3,17393,prod5,10,900,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
4,4,17394,prod14,1,100,12/26/19 17:28,"362 Adams St, Dallas ,TX",December,Client4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59094 entries, 0 to 59093
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     59094 non-null  int64
 1   OrderID        59094 non-null  int64
 2   Product        59094 non-null  object
 3   QtyOrdered     59094 non-null  int64
 4   UnitPrice      59094 non-null  int64
 5   OrderDate      59094 non-null  object
 6   OrderLocation  59094 non-null  object
 7   Month          59094 non-null  object
 8   ClientName     59094 non-null  object
dtypes: int64(4), object(5)
memory usage: 4.1+ MB

In [7]:
df.describe()

         Unnamed: 0       OrderID    QtyOrdered     UnitPrice
count  59094.000000  59094.000000  59094.000000  59094.000000
mean    2574.685704  10307.503486      4.428588    559.801333
std     1609.386840   5384.004816      3.497477    302.814769
min        0.000000   1001.000000      1.000000    100.000000
25%     1231.000000   5642.000000      1.000000    300.000000
50%     2462.000000  10313.000000      3.000000    500.000000
75%     3745.000000  14978.000000      8.000000    800.000000
max     7091.000000  19622.000000     11.000000   1000.000000

# Desired datasets : 
## Orderwise prediction of sales 
OrderID | ProdName | Prod Qty | Unit Price | Month | Order Location | Client Sentiment (before order) | Salesperson Sentiment (before order) | Total sales

## Productwise prediction of sales 
ProdName | Month | Order Value | Order Qty | # sold

## Clientwise prediction of sales 
CustID | CustName | Month | Location | Client Sentiments | Salesperson Sentiments | Total Sales

In [8]:
# Build from df + df_senti + clientwise
#orderwise : orderid | prodarr              |totQty | month | location| ClientName |totPrice| cli avg sentiScore| sp avg sentiScore            
#           ord_id_1 | [prod1,prod2,prod3,..]| 4    |January| addr    |   client1  |  4555  |     60            |         30
# predict totPrice(reg)

#prodwise : prodName | month | orderQty | orderTotal |clientName| prodPrice(unit*qty)
#             prod1  |January|  5       |    4555    |client1   |     2555
# predict prodPrice(reg) , prodName(classif), clientName(classif)

#clientwise: clientName | month | orderQty | prodarr        | orderTotal  | cli_avg_senti | sp_avg_senti
#             client1   |January|   40      |[p1,p2,p3,p4]  |    30000    |      60       |       50 
# predict orderTotal(reg) 

#df_senti 
#for orderwise order_id  | cli_chats(bef that order) | sp_chats(bef that order) | cli_avg_senti | sp_avg_senti

#Build from df_senti

#for clientwise   clientName | month | cli_chats(that month) | sp_chats(that month) | cli_avg_senti | sp_avg_senti

In [ ]:
df = df.reset_index()

In [ ]:
columns_orderwise = ['OrderId','Prodarr','TotQty','Month','Location','ClientName','CliAvgSentiScore','SPAvgSentScore','TotPrice']
df_orderwise = pd.DataFrame(columns=columns_orderwise)
i = 0
for index, row in df.iterrows():
#     print(row['OrderID'])
    df_orderwise.loc[i] = [row['OrderID'],"NA","NA","NA","NA","NA","NA","NA","NA"]
    i=i+1

In [ ]:
df_orderwise.head()

In [27]:
def create_orderwise_1(x):
    return x
def create_orderwise_2(x):

In [28]:
result1 = [create_orderwise_1(x) for x in df['OrderID']]
df_orderwise_1 = pd.DataFrame(result1)
df_orderwise_1.head()

       0
0  17393
1  17393
2  17393
3  17393
4  17394

In [ ]:
result2 = []
# Iterating over one column - `f` is some function that processes your data
result = [f(x) for x in df['col']]
# Iterating over two columns, use `zip`
result = [f(x, y) for x, y in zip(df['col1'], df['col2'])]
# Iterating over multiple columns - same data type
result = [f(row[0], ..., row[n]) for row in df[['col1', ...,'coln']].to_numpy()]
# Iterating over multiple columns - differing data type
result = [f(row[0], ..., row[n]) for row in zip(df['col1'], ..., df['coln'])]

# Final data generation

In [30]:
df_raw = pd.read_csv("all_data_sales.csv")
df_raw.head()

,Unnamed: 0,OrderID,Product,QtyOrdered,UnitPrice,OrderDate,OrderLocation,Month,ClientName
0,0,17393,prod4,1,800,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
1,1,17393,prod12,4,400,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
2,2,17393,prod2,7,500,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
3,3,17393,prod5,10,900,12/06/19 08:30,"79 Walnut St, New York City ,NY",December,Client2
4,4,17394,prod14,1,100,12/26/19 17:28,"362 Adams St, Dallas ,TX",December,Client4

In [35]:
columns_orderwise_try1 = ['OrderId','Prods','TotQty','Month','Location','ClientName','CliAvgSenti','SpAvgSenti','TotPrice']
df_orderwise_try1 = pd.DataFrame(columns=columns_orderwise_try1)
print("Predict: TotPrice")
df_orderwise_try1.head()
#if not using query : build the entire dataframe during data gen

Predict TotPrice

Empty DataFrame
Columns: [OrderId, Prods, TotQty, Month, Location, ClientName, CliAvgSenti, SpAvgSenti, TotPrice]
Index: []

In [52]:
columns_productwise_try1 = ['ProdName','Month','OrderQty','OrderTotal','ClientName','ProdPrice']
df_productwise_try1 = pd.DataFrame(columns=columns_productwise_try1)
print('Predict: ProdPrice,ProdName,ClientName')
df_productwise_try1['ProdName'] = df_raw['Product'].copy()
df_productwise_try1['Month'] = df_raw['Month'].copy()
#OrderQty calculate later ; if not by query -- do during data gen
#OrderTotal calculate later : if not by query -- do during data gen
df_productwise_try1['ClientName'] = df_raw['ClientName'].copy()
df_productwise_try1['ProdPrice'] = df_raw['UnitPrice']*df_raw['QtyOrdered']
df_productwise_try1.head()

Predict: ProdPrice,ProdName,ClientName

  ProdName     Month OrderQty OrderTotal ClientName  ProdPrice
0    prod4  December      NaN        NaN    Client2        800
1   prod12  December      NaN        NaN    Client2       1600
2    prod2  December      NaN        NaN    Client2       3500
3    prod5  December      NaN        NaN    Client2       9000
4   prod14  December      NaN        NaN    Client4        100

In [39]:
columns_clientwise_try1 = ['ClientName','Month','OrderQty','Prods','CliAvgSenti','SpAvgSenti','OrderTotal']
df_clientwise_try1 = pd.DataFrame(columns=columns_clientwise_try1)
print('Predict: OrderTotal')
df_clientwise_try1.head()
# do using query or drop this dataframe altogether

Predict: OrderTotal

Empty DataFrame
Columns: [ClientName, Month, OrderQty, Prods, CliAvgSenti, SpAvgSenti, OrderTotal]
Index: []

In [40]:
columns_senti_orderwise_try1 = ['OrderId','CliChats','SpChats','CliAvgSenti','Sp_avg_senti'] 
df_senti_orderwise_try1 = pd.DataFrame(columns=columns_senti_orderwise_try1)
df_senti_orderwise_try1.head()

Empty DataFrame
Columns: [OrderId, CliChats, SpChats, CliAvgSenti, Sp_avg_senti]
Index: []

In [41]:
columns_senti_clientwise_try1 = ['ClientName','Month','CliChats','SpChats','CliAvgSenti','SpAvgSenti']
df_senti_clientwise_try1 = pd.DataFrame(columns=columns_senti_clientwise_try1)
df_senti_clientwise_try1.head()

Empty DataFrame
Columns: [ClientName, Month, CliChats, SpChats, CliAvgSenti, SpAvgSenti]
Index: []