In [1]:
import pandas as pd

In [2]:
df_orderwise = pd.read_csv("./orderwise_try4.csv")
print(df_orderwise.shape)
df_clientwise = pd.read_csv("./clientwise_try2.csv")
print(df_clientwise.shape)
df_productwise = pd.read_csv("./productwise_try2.csv")
print(df_productwise.shape)

(55219, 12)
(18622, 9)
(59094, 13)

In [3]:
df_orderwise.head(2)

,Unnamed: 0,OrderID,ClientName,MonthNum,Hour,Minute,Day,Prods,CliSentiAvg,SpSentiAvg,QtyOrdered,Sales
0,0,1001,Client1,1,20,51,4,"prod14,prod6,prod2",0.2,0.4,1,100
1,1,1001,Client1,1,20,51,4,"prod14,prod6,prod2",0.4,0.4,3,1800

In [4]:
df_clientwise.head(2)

,Unnamed: 0,OrderID,MonthNum,ClientName,Prods,QtyOrdered,Sales,CliSentiAvg,SpSentiAvg
0,0,1001,1,Client1,"prod14,prod6,prod2",5,2400,0.2,0.4
1,1,1002,1,Client8,"prod2,prod15,prod15",10,9500,0.4,0.4

In [5]:
df_productwise.head(2)

,Unnamed: 0,ProdName,MonthNum,OrderID,OrderQty,OrderTotal,ClientName,ProdPrice,Hour,Minute,Day,CliSentiAvg,SpSentiAvg
0,0,prod4,12,17393,1,800,Client2,800,8,30,4,0.4,0.4
1,1,prod12,12,17393,1,800,Client2,1600,8,30,4,0.4,0.6