# Regression , Classification Problems 

## Orderwise 
- to predict : sales(TotPrice of order)[reg]


## Productwise 
- to predict : prodName[reg] , clientName[reg] , prodPrice[classif]


## Clientwise
- to predict : sales()[reg]

## To do 
### 1. Vid 19 - EDA : Understanding your data 
### 2. Vid 20 - EDA : Univariate
### 3. Vid 21 - EDA : Multivariate 
### 4. Vid 22 - EDA : Pandas Profiler 
### 5. Vid 50- Vid : Simple Linear Regression
### 6. Vid 53- Vid : Multiple Linear Regression 
### 7. Vid 56- Vid : Gradient Descent 
### 8. Vid 60- Vid : Polynomial Regression 
### 9. Vid 62- Vid : Ridge Regression
### 10. Vid 66- Vid : Lasso Regression
### 11. Vid 68- Vid : ElasticNet Regression
### 12. Vid 69- Vid : Logistic Regression
### 13. Vid 77- Vid : Softmax Regression
### 14. Vid 80- Vid : Decision Tree
### 15. Vid 82- Vid : Regression Tree
### 16. Vid 85- Vid : Voting
### 17. Vid 88- Vid : Bagging
### 18. Vid 91- Vid : Random Forest
### 19. Vid 98- Vid : ADA Boosting
### 20. Vid 106- Vid : Gradient Boosting
### 21. Vid 108- Vid : Stacking, Blending Ensembles

In [1]:
import pandas as pd

In [2]:
df_orderwise = pd.read_csv("../1_mockData/try1/orderwise.csv")
print(df_orderwise.shape)
df_productwise = pd.read_csv("../1_mockData/try1/productwise.csv")
print(df_productwise.shape)
df_clientwise = pd.read_csv("../1_mockData/try1/clientwise.csv")
print(df_clientwise.shape)

(18622, 12)
(59094, 13)
(18284, 7)

In [3]:
df_orderwise.head(3)

,Unnamed: 0,OrderID,ClientName,MonthNum,Hour,Minute,Day,Prods,CliAvgSenti,SpAvgSenti,QtyOrdered,Sales
0,0,1001,Client1,1,20,51,4,"prod14,prod6,prod2",0.8,0.6,5,2400
1,1,1002,Client8,1,21,3,0,"prod2,prod15,prod15",0.4,0.4,10,9500
2,2,1003,Client0,1,18,22,4,"prod2,prod9,prod1",0.2,0.6,10,3200

In [4]:
df_productwise.sample(2)

,Unnamed: 0,ProdName,ClientName,MonthNum,OrderID,OrderQty,OrderTotal,CliAvgSenti,SpAvgSenti,ProdPrice,Hour,Minute,Day
31236,31236,prod9,Client0,1,1703,17,3500,0.6,0.4,300,10,44,2
24388,24388,prod3,Client8,5,7122,21,11600,0.8,0.8,1800,5,16,4

In [5]:
df_clientwise.head(2)

,Unnamed: 0,ClientName,MonthNum,Day,Prods,QtyOrdered,Sales
0,0,Client0,1,0,"prod1,prod1,prod15,prod12",24,16800
1,1,Client0,1,0,"prod1,prod13,prod12,prod15",18,8100