# Regression , Classification Problems 

## Orderwise 
- to predict : sales(TotPrice of order)[reg]


## Productwise 
- to predict : prodName[reg] , clientName[reg] , prodPrice[classif]


## Clientwise
- to predict : sales(Tot Ordervalue of client for that order)[reg]

## To do 
### 1. Vid 19 - EDA : Understanding your data 
### 2. Vid 20 - EDA : Univariate
### 3. Vid 21 - EDA : Multivariate 
### 4. Vid 22 - EDA : Pandas Profiler 
### 5. Vid 50- Vid : Simple Linear Regression
### 6. Vid 53- Vid : Multiple Linear Regression 
### 7. Vid 56- Vid : Gradient Descent 
### 8. Vid 60- Vid : Polynomial Regression 
### 9. Vid 62- Vid : Ridge Regression
### 10. Vid 66- Vid : Lasso Regression
### 11. Vid 68- Vid : ElasticNet Regression
### 12. Vid 69- Vid : Logistic Regression
### 13. Vid 77- Vid : Softmax Regression
### 14. Vid 80- Vid : Decision Tree
### 15. Vid 82- Vid : Regression Tree
### 16. Vid 85- Vid : Voting
### 17. Vid 88- Vid : Bagging
### 18. Vid 91- Vid : Random Forest
### 19. Vid 98- Vid : ADA Boosting
### 20. Vid 106- Vid : Gradient Boosting
### 21. Vid 108- Vid : Stacking, Blending Ensembles

In [2]:
import pandas as pd

In [12]:
df_orderwise = pd.read_csv("./orderwise_try4.csv")
print(df_orderwise.shape)
df_productwise = pd.read_csv("./productwise_try2.csv")
print(df_productwise.shape)
df_clientwise = pd.read_csv("./clientwise_try2.csv")
print(df_clientwise.shape)

(55219, 12)
(59094, 13)
(18622, 9)

In [11]:
df_orderwise.head(3)

,Unnamed: 0,OrderID,ClientName,MonthNum,Hour,Minute,Day,Prods,CliSentiAvg,SpSentiAvg,QtyOrdered,Sales
0,0,1001,Client1,1,20,51,4,"prod14,prod6,prod2",0.2,0.4,1,100
1,1,1001,Client1,1,20,51,4,"prod14,prod6,prod2",0.4,0.4,3,1800
2,2,1001,Client1,1,20,51,4,"prod14,prod6,prod2",0.8,0.8,1,500

In [10]:
df_productwise.sample(2)

,Unnamed: 0,ProdName,MonthNum,OrderID,OrderQty,OrderTotal,ClientName,ProdPrice,Hour,Minute,Day,CliSentiAvg,SpSentiAvg
41803,41803,prod4,2,3608,2,400,Client5,800,18,26,3,0.4,0.6
43152,43152,prod12,2,4031,9,9000,Client7,3200,12,22,3,0.6,0.4

In [8]:
df_clientwise.head(2)

,Unnamed: 0,OrderID,MonthNum,ClientName,Prods,QtyOrdered,Sales,CliSentiAvg,SpSentiAvg
0,0,1001,1,Client1,"prod14,prod6,prod2",5,2400,0.2,0.4
1,1,1002,1,Client8,"prod2,prod15,prod15",10,9500,0.4,0.4